<div class="container">

  <div class="card-inicial">
    <mat-card style="margin-bottom: 20px">
      <mat-card-title>Cadastrar Pesquisa Preço</mat-card-title>
    </mat-card>
  </div>

  <!-- CAIXA DA PESQUISA PRECO CABEÇALHO-->
  <div class="caixa-center-colunas">
    <mat-card style="width: 90%;" class="caixa-filtro-colunas">

      <div class="caixa-center-linha" style="margin-top: 10px;">
        <mat-form-field appearance="fill" style="width: 95%;">
          <mat-label>Titulo</mat-label>
          <input matInput>
        </mat-form-field>
      </div>

      <div class="caixa-center-linha">
        <mat-form-field appearance="fill" style="width: 48%;">
          <mat-label>Data inicial</mat-label>
          <input matInput [matDatepicker]="dp" disabled>
          <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
          <mat-datepicker #dp disabled="false"></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill" style="width: 48%;">
          <mat-label>Data final</mat-label>
          <input matInput [matDatepicker]="dp2" disabled>
          <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
          <mat-datepicker #dp2 disabled="false"></mat-datepicker>
        </mat-form-field>
      </div>

    </mat-card>

    <button mat-icon-button color="primary" mat-button (click)="openDialog()" style="margin-top: 20px;">
      <mat-icon>plus_one</mat-icon>
    </button>

    <!-- CAIXA PESQUISA PRECO ITENS -->

    <mat-card style="margin-top: 20px; width: 90%">

      <mat-card-title>Itens:</mat-card-title>

        <table mat-table #table [dataSource]="itensPesquisaPreco"  matSort style="margin: auto; margin-top: 20px; width: 90%" >
          <!-- Position Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Id</th>
            <td mat-cell *matCellDef="let element">{{ element.id }}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="produto">
            <th mat-header-cell *matHeaderCellDef>Produto</th>
            <td mat-cell *matCellDef="let element">{{ element.produto.nome }}</td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="precoUnitario">
            <th mat-header-cell *matHeaderCellDef>Preço Unitário</th>
            <td mat-cell *matCellDef="let element">
              {{ element.precoUnitario | currency:"BRL" }}
            </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="quantidade">
            <th mat-header-cell *matHeaderCellDef>Quantidade</th>
            <td mat-cell *matCellDef="let element">
              {{ element.quantidade }}
            </td>
          </ng-container>

          <!-- Symbol Column -->
          <!-- <ng-container matColumnDef="botoes">
            <th mat-header-cell *matHeaderCellDef>Detalhe</th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="primary" mat-button (click)="openDialog(element.id)">
                <mat-icon>menu</mat-icon>
              </button>
            </td>
          </ng-container> -->

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        </table>

    </mat-card>

    <mat-card-actions style="margin: auto; margin-top: 20px;">
      <button mat-raised-button color="primary" (click)="add()">ADD</button>
    </mat-card-actions>

  </div>

</div>
