<div class="container">

  <mat-card class="telaLogin">
    <mat-card-header>
      <mat-card-title class="centralizar-letra-size" style="margin-top: 20px;margin-bottom: 20px;"> Tela de Login </mat-card-title>
    </mat-card-header>

    <mat-error *ngIf="loginInvalid">
      The username and password were not recognized
    </mat-error>

    <form >

    <mat-form-field class="example-full-width"  appearance="fill">
      <mat-label>Login</mat-label>
      <input matInput required id="username" #email="ngModel" name="username" [(ngModel)]="usuario.cnpj">
    </mat-form-field>

    <mat-form-field class="example-full-width"  appearance="fill">
      <mat-label >Senha</mat-label>
      <input matInput type="password" required id="password" #senha="ngModel" name="password" [(ngModel)]="usuario.senha">
    </mat-form-field>

    <mat-card-actions>
      <button mat-raised-button color="primary" [disabled]="email.invalid || senha.invalid" (click)="login()">LOGIN</button>
    </mat-card-actions>

    </form>

  </mat-card>
</div>
